# Ignore local class materials
class_materials/

# Ignore Python cache files
__pycache__/
*.pyc

# macOS system files
.DS_Store

# Jupyter checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# VS Code settings
.vscode/

# Environment files
.env